{% set visibleItems =  accordionContent.visibleItems ? : 2 %}
{% if accordionContent.items|length > visibleItems %}
  {% set accordionClass = "js-accordion" %}
  {% set inlineAccordion = true %}
{% endif %}

<section
  class="ma__contact-us {{ accordionClass }} {{ accordionContent.isExpanded ? 'is-open':'' }}">
  {% if accordionContent.subTitle %}
    {% set compHeading = accordionContent.subTitle|merge({"level": accordionContent.level}) %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}
  {% if inlineAccordion %}
    {# Show first # Items outside of accordion #}
    {% for pattern in accordionContent.items[:visibleItems] %}
      {% include pattern.path with pattern.data %}
    {% endfor %}

    {# Show 3rd+ items inside of accordion (if they exist) #}
    <div class="ma__contact-us__extra js-accordion-content">
      {% for pattern in accordionContent.items[visibleItems:last] %}
        {% include pattern.path with pattern.data %}
      {% endfor %}
    </div>
    <div class="ma__contact-us__expand">
      <button type="button" class="js-accordion-link">
        <span>See more</span><span>See less</span>
      </button>
    </div>
  {% else %}
    <div class="ma__contact-us__content js-accordion-content">
      {% for pattern in accordionContent.items %}
        {% include pattern.path with pattern.data %}
      {% endfor %}
      {% if accordionContent.decorativeLink %}
        <div class="ma__contact-us__more-info">
          {% set decorativeLink = accordionContent.decorativeLink %}
          {% include "@atoms/decorative-link.twig" %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</section>
