.ma__policy-advisory {

  &__top-contact {
    margin-bottom: 0;

    .ma__contact-list {
      margin-bottom: 45px;
    }
  }

  &__content {
    position: relative;

    h2 {
      ~ p {
        margin-left: 20px;
      }
    }

    h3 {
      margin-left: 20px;
      ~ p {
        margin-left: 40px;
      }
    }

    h4 {
      margin-left: 40px;
      ~ p {
        margin-left: 60px;
      }
    }

    h5 {
      margin-left: 60px;
      ~ p {
        margin-left: 80px;
      }
    }

    h6 {
      margin-left: 80px;
      ~ p {
        margin-left: 100px;
      }
    }
  }
}
